language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.1
    - android-23
# Support library
    - extra-android-support
    - extra-android-m2repository

before_script:
    - chmod +x gradlew

script:
   - chmod +x ./gradlew
   - ./gradlew assembleDebug assembleRelease